.table-view {
  height: 80vh;
  border-spacing: 0;
  border: 1px solid #ddd;
  overflow: auto;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(179, 172, 172);
}

.title {
  background-color: rgb(206, 218, 238);
  border-left: solid 4px #002a54;
  color: #002a54;
  padding-left: 16px;
  padding-bottom: 3px;
  padding-top: 3px;
  margin: 5px 0;
}

.pay-icon {
  background-color: #c8d7e6;
  color: #002a54;
  width: 47%;
  height: fit-content;
  border: #002a54 1px;
  border-style: outset;
  font-size: 32px;
  text-align: center;
  margin: 6px;
}

.pay-icon:hover {
  background-color: #002a54;
  color: #c8d7e6;
  border: #c8d7e6 solid 1px;
}

.pay-icon.active {
  background-color: #002a54;
  color: #c8d7e6;
  border: #c8d7e6 solid 1px;
}

.search-box {
  background-color: #c8d7e6;
  padding: 12px;
}

.customer-row {
  background-color: #c8d7e6;
  margin: 0;
  text-align: center;
  align-items: center;
  height: 72px;
  font-size: 18px;
}

.customer-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
}

.customer-close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #002a54;
  height: 100%;
}

.customer-close:hover {
  background-color: #8db0d3;
  height: 100%;
}
