.title {
  background-color: rgb(206, 218, 238);
  border-left: solid 4px #002a54;
  color: #002a54;
  padding-left: 16px;
  padding-bottom: 3px;
  padding-top: 3px;
  margin: 5px 0;
}

/* Payment */
.pay-icon {
  background-color: #c8d7e6;
  color: #002a54;
  width: 47%;
  height: fit-content;
  border: #002a54 1px;
  border-style: outset;
  font-size: 32px;
  text-align: center;
  margin: 6px;
}

.pay-icon:hover {
  background-color: #002a54;
  color: #c8d7e6;
  border: #c8d7e6 solid 1px;
}

.pay-icon.active {
  background-color: #002a54;
  color: #c8d7e6;
  border: #c8d7e6 solid 1px;
}

/* AddCustomerOrProduct */
.search-box {
  background-color: #c8d7e6;
  padding: 12px;
}

.customer-row {
  background-color: #c8d7e6;
  margin: 0;
  text-align: center;
  align-items: center;
  height: 72px;
  font-size: 18px;
}

.customer-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
}

.customer-close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #002a54;
  height: 100%;
}

.customer-close:hover {
  background-color: #8db0d3;
  height: 100%;
}

/* TransactionTable */
.table-head {
  position: sticky;
  top: 0;
  z-index: 1;
}

.dropdown-toggle::after {
  display: none !important;
}

.table-view {
  height: 80vh;
  border-spacing: 0;
  border: 1px solid #ddd;
  overflow: auto;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #c0ccd8;
}

/* PaymentModal */
/* Overlay styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
}

/* Modal box styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal.show {
  display: block;
}
/* 
.modal-dialog {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
} */

.modal-content {
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.modal-title {
  font-size: 20px;
  margin: 0;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.btn-secondary {
  margin-right: 10px;
}

/* Add more styles as needed */
