/* Sidebar.css */
/* sidebar is fixed at the right side and scrollable */
/* sidebar is closed by default */
/* sidebar is opened when toggle button is clicked */
/* sidebar is closed when toggle button is clicked again */
/* sidebar is closed when user clicks outside of sidebar */
/* scrollbar is shown only when the content is overflowed */
.sidebar {
  width: 300px;
  height: 100vh;
  max-width: 300px;
  background-color: #163656;
  color: white;
  font-size: 18px;
  padding: 0;
  margin: 0;
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: visible;
  transition: width 0.5s ease-out;
}

.sidebar.closed {
  width: 100px;
  font-size: 24px;
}

.sidebar-tab {
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 12px;
}

.sidebar-tab:hover {
  background-color: #61798e;
}

.sidebar-tab.active .sidebar-icon {
  animation: rotateIcon 0.5s linear;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidebar-tab.active {
  background-color: #507ba1;
}

.nested-tab {
  background-color: #184875;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 5px;
  margin-right: 5px;
}

.nested-tab:hover {
  background-color: #5b93c5;
}
.nested-tab.active {
  background-color: #5b93c5;
}

.top-bar {
  z-index: 1;
  background-color: #6495c6;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: center;
  align-content: center;
  font-size: 24px;
}

.toggle-btn {
  width: 100px;
  text-align: center;
}

.toggle-btn.active {
  animation: rotateToggle 0.5s linear;
}

@keyframes rotateToggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
