/* App.css */
.container {
  width: 100vw;
}

.view-area {
  position: relative;
  padding-left: 110px;
  padding-top: 60px;
  font-size: 16px;
  height: 100vh;
}

.text-link:hover {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}
